# Imports

In [1]:
import pandas as pd
import numpy as np

In [2]:
path = 'Data/'

In [3]:
input_data = pd.read_sas(path+'LLCP2022.xpt')
input_data.shape

(445132, 328)

# BFRSS 2022

## Dataset Variables

**sex**<br>
0 Male<br>
1 Female<br>
**age_group**<br> 
0  ages 18-24<br>
1  ages 25-34<br>
2  ages 35-44<br>
3  ages 45-54<br>
4  ages 55-64<br>
5  ages 65 and above<br>
**education**<br>
0 did not graduate High School<br>
1 Graduated High School<br>
2 Attended College or Technical School<br>
3 Graduated from College or Technical School<br>
**has_insurance**<br>
0 Do not have some form of health insurance<br>
1 Have some form of insurance<br>
**income_group**<br>
0 Less than 15,000<br>
1 15,000 to < 25,000<br>
2 25,000 to < 35,000<br>
3 35,000 to < 50,000<br>
4 50,000 to < 100,000<br>
5 100,000 to < 200,000<br>
6 200,000 or more<br>
**race**<br>
0 white<br>
1 Black only, non-Hispanic<br>
2 American Indian or Alaskan Native only, Non-Hispanic<br>
3 Asian only, non-Hispanic<br>
4 Native Hawaiian or other Pacific Islander only, Non-Hispanic<br>
5 Multiracial, non-Hispanic<br>
6 Hispanic<br>
**marital_status**<br>
0 married<br>
1 divorced<br>
2 widowed<br>
3 separated<br>
4 never married<br>
5 member of unmarried couple<br>
**general_health**<br>
0 excellent health<br>
1 Very good health<br>
2 good health<br>
3 fair health<br>
4 poor health<br>
**exercise_lately**: Exercise in Past 30 Days<br>
0 No<br>
1 Yes<br>
**sleep_time**<br>How Much Time Do You Sleep per day<br>
**smoking**: smoker status<br>
0 current smoker, everyday<br>
1 current smoker, occasionally<br>
2 former smoker<br>
3 never smoked<br>
**heavy_drinker**: Heavy drinkers (adult men having more than 14 drinks per week and adult women having more than 7 drinks per week)<br>
**height**<br>
**weight**<br>
**bmi**<br>
**bmi_groups**: Four-categories of Body Mass Index (BMI)<br>
0 Underweight   (bmi<18.5)<br>
1 Normal weight (18.5<=bmi<25)<br>
2 Overweight    (25<=bmi<30)<br>
3 obese         (30<=bmi)<br>
**has_doctor**: Have Personal Health Care Provider?<br>
0 Yes, only one<br>
1 More than one<br>
2 No<br>
**affords_doctor**: Could Not Afford To See Doctor<br>
0 No<br>
1 Yes<br>
**last_checkup**: Length of time since last routine checkup<br>
0 Within past year<br>
1 Within past 2 years<br>
2 Within past 5 years<br>
3 5 or more years ago<br>
4 Never<br>
**heart_problem**: Having coronary heart disease (CHD) or myocardial infarction (MI)<br>
0 Did not report having MI or CHD<br>
1 Reported having MI or CHD<br>
**asthma_history**: asthma status<br>
0 Never<br>
1 Current<br>
2 Former<br>
**stroke**: Ever Diagnosed with a Stroke<br>
0 No<br>
1 Yes<br>
**depression**: Ever told you had a depressive disorder<br>
0 Yes<br>
1 No<br>
**blood_sugar**: When was your last blood test for high blood sugar?<br>
0 Within the past year<br>
1 Within the past 2 years<br>
2 Within the past 3 years<br>
3 Within the past 5 years<br>
4 Within the past 10 years<br>
5 10 or more years ago<br>
6 Never<br>
**prediabetes**:Ever been told by a doctor or other health professional that you have pre-diabetes or borderline diabetes?<br>
0 No, or yes during pregnancy<br>
1 Yes<br>
**diabetes_type**: What type of diabetes do you have?<br>
0, non diabetic<br>
1, type 1<br>
2, type 2<br>
**currently_insulin**: Now Taking Insulin<br>
0 No<br>
1 Yes<br>
**hemoglobin**: Times Checked for Glycosylated Hemoglobin in the past year<br>
**eye_exam**: Last Eye Exam Where Pupils Were Dilated<br>
0 Never<br>
1 Within the past month<br>
2 Within the past year<br>
3 Within the past 2 years<br>
4 2 or more years ago<br>
**eye_photo**:When was the last time a they took a photo of the back of your eye?<br>
0 Never<br>
1 Within the past month<br>
2 Within the past year<br>
3 Within the past 2 years<br>
4 2 or more years ago<br>
**diabetes_education**: When was the last time you took a course or class in how to manage your diabetes?<br>
0 Never<br>
1 Within the past year<br>
2 Within the last 2 years<br>
3 Within the last 3 years<br>
4 Within the last 5 years<br>
5 Within the last 10 years<br>
6 10 years ago or more<br>
**sore_feet** :Ever Had Feet Sores or Irritations Lasting More Than Four Weeks<br>
0 No<br>
1 Yes<br>
**diabetes**: (Ever told) you had diabetes<br>
0 No, or yes, but female told only during pregnancy<br>
1 pre-diabetes or borderline diabetes<br>
2 Yes<br>

## Column names

In [4]:
column_names = {
                '_SEX'    : 'sex',
                '_AGE_G'  :'age_group',
                '_EDUCAG' :'education',
                '_HLTHPLN':'has_insurance',
                '_INCOMG1':'income_group',
                '_RACE1'  :'race',
                'MARITAL' :'marital_status',
                'GENHLTH' :'general_health',
                'EXERANY2':'exercise_lately',
                'SLEPTIM1':'sleep_time',
                '_SMOKER3':'smoking',
#                 '_DRNKWK2':'alcohol_weekly',
                '_RFDRHV8':'heavy_drinker',
                'HTM4'    :'height',
                'WTKG3'   :'weight',
                '_BMI5'   :'bmi',
                '_BMI5CAT':'bmi_groups',
                'PERSDOC3':'has_doctor',
                'MEDCOST1':'affords_doctor',
                'CHECKUP1':'last_checkup',
                '_MICHD'  :'heart_problem',
                '_ASTHMS1':'asthma_history',
                'CVDSTRK3':'stroke',
                'ADDEPEV3':'depression',
                #######################
                'PDIABTS1':'blood_sugar',
                'PREDIAB2':'prediabetes',
                'DIABTYPE':'diabetes_type',
                'INSULIN1':'currently_insulin',
                'CHKHEMO3':'hemoglobin',
                'EYEEXAM1':'eye_exam',
                'DIABEYE1':'eye_photo',
                'DIABEDU1':'diabetes_education',
                'FEETSORE':'sore_feet',
                'DIABETE4':'diabetes',
                }

## Column values

In [5]:
column_values = {
                 column_names['_SEX']: {1:0, 2:1},
                 column_names['_AGE_G']: {1:0, 2:1, 3:2, 4:3, 5:4, 6:5},
                 column_names['_EDUCAG']: {1:0, 2:1, 3:2, 4:3, 9:np.nan},
                 column_names['_HLTHPLN']: {1:1, 2:0, 9: np.nan},
                 column_names['_INCOMG1']: {1:0, 2:1, 3:2, 4:3, 5:4, 6:5, 7:6, 8:6, 9:np.nan},
                 column_names['_RACE1'] : {1:0, 2:1, 3:2, 4:3, 5:4, 7:5, 8:6, 9:np.nan},
                 column_names['MARITAL']: {1:0, 2:1, 3:2, 4:3, 5:4, 6:5, 9:np.nan},
                 column_names['GENHLTH']: {1:0, 2:1, 3:2, 4:3, 5:4, 7:np.nan, 9:np.nan},
                 column_names['EXERANY2']: {1:1, 2:0, 7:np.nan, 9:np.nan},
                 column_names['SLEPTIM1']: {77:np.nan, 99:np.nan},
                 column_names['_SMOKER3']: {1:0, 2:1, 3:2, 4:3, 9:np.nan},
#                  column_names['_DRNKWK2']:{99900:np.nan},
                 column_names['_RFDRHV8']: {1:0, 2:1, 9:np.nan},
                 column_names['_BMI5CAT']: {1:0, 2:1, 3:2, 4:3},
                 column_names['PERSDOC3']:{1:0, 2:1, 3:2, 7:np.nan, 9:np.nan},
                 column_names['MEDCOST1']:{1:1, 2:0, 7:np.nan, 9:np.nan},
                 column_names['CHECKUP1']: {1:0, 2:1, 3:2, 4:3, 7:np.nan, 8:4, 9:np.nan},
                 column_names['_MICHD']: {1:1, 2:0},
                 column_names['_ASTHMS1']: {3:0, 9:np.nan},
                 column_names['CVDSTRK3']: {1:1, 2:0, 7:np.nan, 9:np.nan},
                 column_names['ADDEPEV3']: {1:1, 2:0, 7:np.nan, 9:np.nan},
                 column_names['DIABETE4']: {2:0, 3:0, 1:2, 4:1, 7:np.nan, 9:np.nan},
                 column_names['PDIABTS1']: {7:np.nan, 9:np.nan, 8:6},
                 column_names['PREDIAB2']: {2:0, 3:0, 7:np.nan, 9:np.nan},
                 column_names['DIABTYPE']: {7:np.nan, 9:np.nan},
                 column_names['INSULIN1']: {7:np.nan, 9:np.nan},
                 column_names['CHKHEMO3']: {88:0, 98:0, 77:np.nan, 99:np.nan},
                 column_names['EYEEXAM1']: {8:0, 7:np.nan, 9:np.nan},
                 column_names['DIABEYE1']: {8:0, 7:np.nan, 9:np.nan},
                 column_names['DIABEDU1']: {8:0, 7:np.nan, 9:np.nan},
                 column_names['FEETSORE']: {2:0, 7:np.nan, 9:np.nan},
                }

# Class create_dataset

In [6]:
class create_dataset:
    def __init__(self, origin_dataset, columns_to_keep, column_values):
        self.data            = origin_dataset.copy()
        self.column_mapping  = columns_to_keep 
        self.value_mapping   = column_values
        self.non_int_columns = [self.column_mapping['HTM4'],
                                self.column_mapping['WTKG3'],
                                self.column_mapping['_BMI5']]
        
    def filter_interviews(self):
        self.data = self.data[self.data['DISPCODE']==1100]
        
    def filter_columns(self):
        selected_cols = list(self.column_mapping.keys())
        self.data = self.data[selected_cols]
        
    def convert_values(self):
        for col,mapping in self.value_mapping.items():
            self.data[col] = self.data[col].map(lambda x: mapping.get(x, x))
        
    def filter_nan(self):
        self.data.dropna(inplace=True)
        
    def rename_columns(self):
        self.data.rename(columns=self.column_mapping, inplace=True)
            
    def convert_data_types(self):
        for col in list( set(self.data.columns) - set(self.non_int_columns) ):
            self.data[col] = self.data[col].astype(int)
        for col in self.non_int_columns:
            self.data[col] /= 100
       
    def convert_nan_to_zero(self):
        for col in ['PDIABTS1','PREDIAB2','DIABTYPE','INSULIN1','CHKHEMO3','EYEEXAM1','DIABEYE1','DIABEDU1','FEETSORE']:
            self.data[self.column_mapping[col]].fillna(0, inplace=True)

In [7]:
def dataset_creation_pipeline(inputs, column_names, column_values):
    obj = create_dataset(inputs, column_names, column_values)
    obj.filter_interviews()
    obj.filter_columns()
    obj.rename_columns()
    obj.convert_nan_to_zero()
    obj.convert_values()
    obj.filter_nan()
    obj.convert_data_types()
    return obj

In [8]:
df = dataset_creation_pipeline(input_data, column_names, column_values)
df.data

,sex,age_group,education,has_insurance,income_group,race,marital_status,general_health,exercise_lately,sleep_time,...,blood_sugar,prediabetes,diabetes_type,currently_insulin,hemoglobin,eye_exam,eye_photo,diabetes_education,sore_feet,diabetes
1,1,5,1,1,2,0,2,0,0,6,...,0,0,0,0,0,0,0,0,0,0
2,1,4,3,1,5,0,0,1,1,5,...,0,0,0,0,0,0,0,0,0,0
4,1,2,2,1,2,0,0,3,1,9,...,0,0,0,0,0,0,0,0,0,0
6,1,5,3,1,4,1,1,1,1,7,...,0,0,0,0,0,0,0,0,0,0
7,1,5,1,1,4,0,2,2,0,8,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445120,0,4,2,1,5,0,1,1,1,6,...,2,0,0,0,0,0,0,0,0,0
445124,0,5,3,1,5,5,0,2,1,7,...,0,0,2,2,1,0,2,0,0,2
445126,0,1,3,1,4,0,4,2,1,8,...,2,0,0,0,0,0,0,0,0,0
445128,1,3,3,1,4,1,0,0,1,7,...,1,0,0,0,0,0,0,0,0,0
445130,0,5,2,1,4,1,0,1,0,5,...,1,1,0,0,0,0,0,0,0,0

# Save dataset to csv

In [9]:
df.data.to_csv(path+'diabetes_dataset.csv', index=False)