In [1]:
import pandas as pd
import numpy as np

In [2]:
path = 'Data/'

In [50]:
df = pd.read_sas(path+'LLCP2022.xpt')
df

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_SMOKGRP,_LCSREC,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK2,_RFDRHV8,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,1.0,b'02032022',b'02',b'03',b'2022',1100.0,b'2022000001',2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,2.0,2.0
1,1.0,1.0,b'02042022',b'02',b'04',b'2022',1100.0,b'2022000002',2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,2.0,2.0,2.0
2,1.0,1.0,b'02022022',b'02',b'02',b'2022',1100.0,b'2022000003',2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,2.0
3,1.0,1.0,b'02032022',b'02',b'03',b'2022',1100.0,b'2022000004',2.022000e+09,1.0,...,3.0,2.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,9.0,9.0,2.0
4,1.0,1.0,b'02022022',b'02',b'02',b'2022',1100.0,b'2022000005',2.022000e+09,1.0,...,4.0,NaN,1.0,1.000000e+01,1.0,1.400000e+02,1.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445127,78.0,11.0,b'12192022',b'12',b'19',b'2022',1100.0,b'2022001527',2.022002e+09,NaN,...,4.0,NaN,7.0,9.000000e+02,9.0,9.990000e+04,9.0,NaN,NaN,1.0
445128,78.0,11.0,b'12212022',b'12',b'21',b'2022',1100.0,b'2022001528',2.022002e+09,NaN,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,1.0
445129,78.0,11.0,b'11292022',b'11',b'29',b'2022',1100.0,b'2022001529',2.022002e+09,NaN,...,1.0,NaN,7.0,9.000000e+02,9.0,9.990000e+04,9.0,2.0,2.0,2.0
445130,78.0,11.0,b'12082022',b'12',b'08',b'2022',1100.0,b'2022001530',2.022002e+09,NaN,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,1.0
445131,78.0,11.0,b'12142022',b'12',b'14',b'2022',1100.0,b'2022001531',2.022002e+09,NaN,...,3.0,NaN,1.0,5.000000e+01,2.0,9.990000e+04,9.0,NaN,NaN,2.0

In [5]:
df.shape

(445132, 328)

In [6]:
# # keep only fully completed interviews
# df = df[df['DISPCODE']==1100]
# df

In [58]:
col_mapping = {
#     'SEXVAR':'sex',
    '_SEX': 'sex',

    'GENHLTH':'general_health',
    'PHYSHLTH':'physical_health',
    'MENTHLTH':'mental_health',
    'PERSDOC3':'health_care_provider',
    'MEDCOST1':'afford_doctor',
    'CHECKUP1':'last_checkup',
    'EXERANY2':'exercise_last_month',
    'SLEPTIM1':'sleep_time',
    'CVDINFR4':'heart_attack',
    'CVDCRHD4':'heart_disease',
    'CVDSTRK3':'stroke',
    'ADDEPEV3':'depression',
    'DIABETE4':'diabetes',
    'MARITAL':'marital_status',

    'DIFFWALK':'difficulty_walking',
    'SMOKE100':'smoked100cigs',
#     'ALCDAY4':'alcohol_last_month',
#     'PDIABTS1':'PDIABTS1',
    
    ## calculated variables
    '_RFHLTH':'health_quality',
    '_HLTHPLN':'insurance',
    '_MICHD':'heart_problem',
    '_ASTHMS1':'asthma_history',
    '_RACE1':'race',
    '_AGEG5YR':'age',
    'HTM4':'height',
    'WTKG3':'weight',
    '_BMI5':'bmi',
    '_RFBMI5':'overweight',
    '_EDUCAG':'education',
    '_INCOMG1':'income',
    '_SMOKER3':'smoking',
#     'DROCDY4_':'alcohol_consumption',
    '_DRNKWK2':'alcohol_weekly',

    '_IMPRACE':'race',
    
}

In [52]:
selected_cols = list(col_mapping.keys())
selected_cols

['_SEX',
 'GENHLTH',
 'PHYSHLTH',
 'MENTHLTH',
 'PERSDOC3',
 'MEDCOST1',
 'CHECKUP1',
 'EXERANY2',
 'SLEPTIM1',
 'CVDINFR4',
 'CVDCRHD4',
 'CVDSTRK3',
 'ADDEPEV3',
 'DIABETE4',
 'MARITAL',
 'DIFFWALK',
 'SMOKE100',
 'PDIABTS1',
 '_RFHLTH',
 '_HLTHPLN',
 '_MICHD',
 '_ASTHMS1',
 '_RACE1',
 '_AGEG5YR',
 'HTM4',
 'WTKG3',
 '_BMI5',
 '_RFBMI5',
 '_EDUCAG',
 '_INCOMG1',
 '_SMOKER3',
 '_DRNKWK2',
 '_IMPRACE']

In [56]:
df[selected_cols].dropna()['DIABETE4'].unique()

array([3., 4., 2., 7., 9.])

In [45]:
df.rename(columns=col_mapping, inplace=True)
df

,general_health,physical_health,mental_health,health_care_provider,afford_doctor,last_checkup,exercise_last_month,sleep_time,heart_attack,heart_disease,...,sex,age,height,weight,bmi,education,income,smoking,alcohol_weekly,race
1,1.0,88.0,88.0,2.0,2.0,8.0,2.0,6.0,2.0,2.0,...,2.0,13.0,160.0,6804.0,2657.0,2.0,3.0,4.0,5.397605e-79,1.0
2,2.0,2.0,3.0,1.0,2.0,1.0,1.0,5.0,2.0,2.0,...,2.0,8.0,157.0,6350.0,2561.0,4.0,6.0,4.0,5.397605e-79,1.0
3,1.0,88.0,88.0,1.0,2.0,1.0,1.0,7.0,2.0,2.0,...,2.0,14.0,165.0,6350.0,2330.0,2.0,9.0,2.0,5.397605e-79,1.0
4,4.0,2.0,88.0,2.0,2.0,1.0,1.0,9.0,2.0,2.0,...,2.0,5.0,157.0,5398.0,2177.0,3.0,3.0,4.0,1.400000e+02,1.0
5,5.0,1.0,88.0,1.0,2.0,1.0,2.0,7.0,1.0,2.0,...,1.0,13.0,180.0,8482.0,2608.0,2.0,9.0,4.0,5.397605e-79,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445127,3.0,88.0,3.0,3.0,2.0,2.0,1.0,6.0,2.0,2.0,...,2.0,1.0,165.0,6985.0,2563.0,2.0,1.0,4.0,9.990000e+04,2.0
445128,1.0,2.0,2.0,2.0,2.0,1.0,1.0,7.0,2.0,2.0,...,2.0,7.0,170.0,8301.0,2866.0,4.0,5.0,4.0,5.397605e-79,2.0
445129,5.0,30.0,30.0,3.0,1.0,4.0,2.0,5.0,2.0,2.0,...,2.0,10.0,170.0,4990.0,1723.0,2.0,9.0,1.0,9.990000e+04,2.0
445130,2.0,88.0,88.0,2.0,2.0,1.0,2.0,5.0,1.0,2.0,...,1.0,11.0,183.0,10886.0,3255.0,3.0,5.0,4.0,5.397605e-79,2.0
445131,2.0,88.0,1.0,3.0,1.0,8.0,1.0,5.0,2.0,2.0,...,1.0,5.0,168.0,6350.0,2260.0,1.0,2.0,3.0,9.990000e+04,2.0

TODO: 
1. rename columns from dictionary
2. change data
3. change data types
4. save csv file
5. upload to kaggle

In [39]:
df['diabetes'].value_counts()

diabetes
3.0    315553
1.0     52381
4.0      8887
2.0      3125
7.0       535
9.0        40
Name: count, dtype: int64